:root {
  --bg-color: rgb(170, 223, 223);
  --btn-radius: 4px;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
            rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --btn-bg-color: rgb(236, 228, 228);
  --drop-down-gap: .5rem;
  --menu-color: rgb(49, 49, 49);
  --menu-hover-color: rgb(79, 114, 108);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	/* vertical-align: baseline; */
    text-decoration: none;
    color: var(--default-text-color)
}

.nav-bar {
  display: flex;
  align-items: center;
  background: rgb(236, 218, 218);
  height: fit-content;
  padding: .5rem;
}

button {
  cursor: pointer;
  border-radius: var(--btn-radius);
  border: none;
  box-shadow: var(--shadow);
}

.drop-down-container {
  margin: 2rem;
  font-size: 1.3rem;
}

.drop-down-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--drop-down-gap);
  margin: 0.5rem 0;
  position: relative;
}

.drop-down {
  position: absolute;
  width: fit-content;
  box-shadow: var(--shadow);
  border-radius: var(--btn-radius);
  background: var(--btn-bg-color);
}

.drop-down a {
  display: flex;
  align-items: center;
  column-gap: var(--drop-down-gap);
  padding: .8rem 1rem;
  text-decoration: none;
  color: var(--menu-color)
}

.drop-down a:hover {
  background-color: var(--menu-hover-color);
  color: white;
}
.bx {
  font-size: 1.2rem;
}

.hidden {
  visibility: hidden;
}

.hamburger-container {
  margin-left: auto;
  margin-right: 1rem;
}

.hamburger-btn {
  font-size: 3vh;
  color: red;
  background-color: transparent;
}


.bx.bx-menu-alt-right {
  color: red;
  font-size: 5rem;
}

.footer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

button.plus-menu-btn{
  background: transparent;
  border: none;
  box-shadow: none;
  position: relative;
}

button.plus-menu-btn:hover {
  filter: brightness(65%)
}

.plus-menu-btn i {
  font-size: 8rem;
  color: rgb(18, 110, 75);
}

#plus-menu-icon {
  font-size: 6rem;
  color: rgb(40, 90, 83);
}

.plus-menu {
  position: absolute;
  bottom: 8rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  gap: 2rem;
}


/* image slider */
.slider-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 60vw;
}

.slider-image {
  max-width: 55vw;
}

.slider-holder {
  white-space: nowrap;
}

.slider-frame {
  border: 2px solid red;
  overflow: hidden;
  width: 50vw;
  height: 40vh;
  position: relative;
}

.slider-image-right {
  position: absolute;
  left: 60vw;
  opacity: 0;
  z-index: 0;
  transition: all 500ms ease-in-out;
}

.slider-image-left{
  position: absolute;
  left: -60vw;
  opacity: 0;
  z-index: 0;
  transition: all 500ms ease-in-out;
}

.slider-image-active {
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.slider-controller {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.slider-controller i { transition: all .1s ease-in-out; }

.slider-controller i:hover { transform: scale(1.05); }